.bang {
    width: 800px;
    height: 150px;
    top: 50px;
    font-size: 50px;
    color: #000000;
    position: absolute;
    left: calc(50% - 704px/2);
    font-family: 'Lato';
    font-weight: 800;
    line-height: 150px;
    text-transform: uppercase;
}

#cosmos {
    position: absolute;
    width: 1220px;
    height: 64px;
    left: calc(50% - 1220px/2 - 56px);
    top: 170px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FF8000;
}
 
#big {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 696px;
    height: 662px;
    left: 67px;
    top: 314px;
}

.Hole {
    box-sizing: border-box;
    position: absolute;
    width: 888px;
    height: 480px;
    left: 74px;
    top: 1077px;
    text-align: center;
    background: #FFCEBE;
    border-width: 2px 0px 0px 2px;
    border-style: solid;
    border-color: #000000;
}

h1 {
    color: red;
}

h2 {
    color: blue;
    text-align: right;
}

.STTheory {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 696px;
    height: 1041px;
    left: 74px;
    top: 1595px;
}

#STRING {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: right;
    font-size: large;
    padding: 0px;
    gap: 24px;
    width: 696px;
    height: 170px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    box-sizing: border-box;
    justify-content: center;
    background: #FFC1E3;
    border: 3px solid #FF5DA3; 
}

.kay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 696px;
    height: 1041px;
    left: 74px;
    top: 1895px;
}

#keyimg {
    width: 696px;
    height: 415px;
}