#main {
    display: inline-block;
    text-align: center;
    width: 1289px;
    height: 2362px;
}

#bang {
    display: inline-block;
    margin-top: 48px;
    margin-left: 208px;
    margin-right: 200px;
    margin-bottom: 53px;
    font-family: 'Lato';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#cosmos {
    display: inline-block;
    width: 1220px;
    height: 64px;
    left: 1220px;
    top: 170px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FF8000;
    margin-bottom: 63PX;
}
 
#big {
    display: block;
    flex-direction: column;
    margin-left: 67px;
    padding: 0px;
    width: 696px;
    height: 662px;
    left: 67px;
    top: 314px;
    margin-bottom: 101px;
}

#hole {
    display: block;
    margin-left: 67px;
    width: 696px;
    height: 496px;
    border: 1px solid red;
    left: 74px;
    top: 1077px;
    text-align: center;
    background-color: #FFCEBE;
    margin-bottom: 101px;
}

h1 {
    color: red;
}

#black {
    color: #8B2B2C;
    text-align: center;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#sTTheory {
    display: block;
    margin-left: 67px;
    width: 532px;
    height: 1041px;
    left: 74px;
    top: 1595px;
}

h2 {
    display: block;
    color: blue;
    text-align: right;
}

#approach {
    margin-left: 67px;
    display: block;
    margin-left: 0;
    width: 532px;
    height: 170px;
    background: #FFC1E3;
    border: 3px solid #FF5DA3; 
}

#string {
    text-align: right;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 24px;
    width: 486px;
    height: 124px;
    margin-bottom: 30px;
}

#kay {
    display: block;
    padding: 0px;
    width: 696px;
    height: 1041px;
    left: 74px;
    top: 1895px;
}

h3 {
    display: block;
    text-align: left;
    color: #414651;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
}

#ul {
    margin-bottom: 30px;
}

li::marker {
    font-size: 24px;
}

li {
    padding-bottom: 16px;
    text-align: left;
}

#keyimg {
    width: 696px;
    height: 415px;
}